*.exe
*.log
*.o
*.os
*.pyc
*~
.buildpath
.sdb.devicemap
.package-stamp
.cproject
.project
.sign/
CMakeCache.txt
CMakeFiles/
SA_Report/
Debug/
Release/
Makefile
account/CMakeFiles/
account/Makefile
account/cmake_install.cmake
account/email-account-theme.edj
account/libemail-account-efl.so
binaries
block/CMakeFiles/
block/Makefile
block/cmake_install.cmake
block/email-block-filter.edj
block/libemail-block-efl.so
build-stamp
build_log
cmake_install.cmake
cmake_tmp/
common/CMakeFiles/
common/Makefile
common/cmake_install.cmake
common/email-images.edj
common/libemail-common.so
composer/CMakeFiles/
composer/Makefile
composer/cmake_install.cmake
composer/email-composer-view.edj
composer/libemail-composer-efl.so
configure-stamp
debugfiles.list
debuglinks.list
debugsources.list
documentation.list
filter/libemail-filter-efl.so
install_manifest.txt
mailbox/CMakeFiles/
mailbox/Makefile
mailbox/cmake_install.cmake
mailbox/email-mailbox.edj
mailbox/libemail-mailbox-efl.so
main/CMakeFiles/
main/Makefile
main/cmake_install.cmake
main/email
opt
org.tizen.email-portrait.edj
packages
po/*.mo
po/CMakeFiles/
po/Makefile
po/cmake_install.cmake
setting/CMakeFiles/
setting/Makefile
setting/cmake_install.cmake
setting/email-setting-theme.edj
setting/libemail-setting-efl.so
usr
viewer/CMakeFiles/
viewer/Makefile
viewer/cmake_install.cmake
viewer/email-viewer.edj
viewer/libemail-viewer-efl.so
TEMP_BUILD_DIR
